body {
    background: black;
    color: #00ffcc;
    font-family: Courier New;
    text-align: center;
    margin: 0;
}

header {
    padding: 40px;
    border-bottom: 1px solid #00ffcc;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc;
}

h1 {
    letter-spacing: 4px;
}

.typing {
    color: #22c55e;
    font-size: 18px;
}

.box {
    margin: 20px;
    padding: 20px;
    border: 1px solid #00ffcc;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffcc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
}

a {
    display: block;
    color: #00ffcc;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: #22c55e;
}

button {
    background: black;
    color: #00ffcc;
    border: 1px solid #00ffcc;
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffcc;
}